.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#Slogan{
height: 100px;
width: auto;
}

#Logo{
height: 85px;
width: auto;
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#botLeft {
    width: 33%;
    display: flex;
    justify-content: left;
    padding-left: 40px;
}

#botMid{
    width: 33%;
    display: flex;
    justify-content: center;
}

#botRight {
    width: 33%;
    display: flex;
    justify-content: right;
    padding-right: 40px;
}

.iconLink:visited{
    color: black;
}

.botIcons{
    width: 20px;
    height: 20px;
}

#sitemap-con{
    margin: auto;
    width: 70%;
}

img{
    width: 75px;
    height: auto;
}
#map-top{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#map-bottom{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}

h2{
    margin: 20px 0;
}

.map-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}

.map-4:first-child{
    border-right: 1px solid black;
    padding-right: 60px;
}

.map-4:last-child{
    border-left: 1px solid black;
    padding-left: 60px;
}

.map-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.map-3:nth-child(even){
    border-bottom: 1px solid black;
    padding: 0 calc((100%-80%) / 15);
}

.map-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 40px;
}

#pasta-pic-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#soup-pic-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#sides-pic-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#anti-pic-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#protein-pic-con{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#sweet-pic-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.body{
background-color: #313131;

}

#Guest{
height: 60px;
width: auto;
}