.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#botLeft {
    width: 33%;
    display: flex;
    justify-content: left;
}

#botMid{
    width: 33%;
    display: flex;
    justify-content: center;
}

#botRight {
    width: 33%;
    display: flex;
    justify-content: right;
}

.iconLink:visited{
    color: black;
}

.botIcons{
    width: 20px;
    height: 20px;
}

img{
    width: 50px;
    height: auto;
}
#map-top{
    display: flex;
    justify-content: space-around;
}
#map-bottom{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}

.map-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.map-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.map-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.map-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
