body{
    background-image: url("../Images-main/venice-italy-shutterstock-279340874-e1579194677902.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 0;
    color: white;
    height: 100vh;
}
form{
    background-color: black ;
    opacity: .95;
}

form div{
    color: white;
}

form .btn{
    background-color: #aae4d6;
    border-color: #aae4d6;
    transition: 0.6s;
}
form .btn:hover{
    background-color: #ff5b57;
    border-color: #ff5b57;
}
#username{
    background-image: url("../Images-main/person.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    text-indent: 20px;
}
#password{
    background-image: url("../Images-main/shield-lock.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    text-indent: 20px;
}